<div class="right-site--toolbar">
    <app-toolbar>
        <div class="list-entry--template"></div>
        <app-plane-handler></app-plane-handler>
        <div class="action-box--wrapper">
            <mat-divider></mat-divider>
            <div class="action-box">
                <button mat-flat-button>
                    <mat-icon>create_new_folder</mat-icon>
                </button>
                <button mat-flat-button (click)="addPlane()">
                    <mat-icon>add</mat-icon>
                </button>
                <!-- <button mat-flat-button>
                    <mat-icon>remove</mat-icon>
                </button> -->
            </div>
        </div>
    </app-toolbar>
</div>
