<div class="app-router-wrapper">
    <ngx-canvas-app [backgroundLayer]="backgroundLayer" (cursorDraw)="drawSubject.next($event)">
        <!-- <ngx-size-handler></ngx-size-handler>
        <ngx-color-field></ngx-color-field> -->
    </ngx-canvas-app>

    <!-- <div class="app-canvas-preview">
        <ngx-canvas-app
            [showFooter]="false"
            [showPaintingUtensils]="false"
            [showPlaneHandler]="false"
            [hasToolbar]="false"
            [isPaintingEnabled]="false"
            [observeDrawing]="drawSubject.asObservable()"
        ></ngx-canvas-app>
    </div> -->
</div>
